body {
    background-color: #ebebeb;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 0);
    margin: 0;
    font-weight: bolder;
}

.card {
    flex: 0 0 auto;
    text-align: center;
    margin-top: 120px;
    max-width: 300px;
    transition: transform 0.3s ease-in-out;
}

.image-box {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    padding-left: 50px;
    border: aqua;
    border-width: 10px;
    border-radius: 30px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    display: flex;
}

.image-box:hover img {
    transform: scale(1.1);
}

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background: #ffffff;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 238, 0);
    border-radius: 10px;
    border: 2px;
}

.card-text {
    margin-top: 25px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding-left: 30px;
    text-align: left;
    color: #0800a7;
}

.hero {
    background-color: #0800a7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    gap: 50px;
}

.typing-effect {
    font-family: monospace;
    font-size: 100px;
}

.photos {
    padding: 20px;
    border: 5px,aqua;
}

.cards {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: nowrap;
    padding: 20px;
    overflow-x: auto;
    width: 100%;
}

.card {
    flex: 0 0 auto;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

button {
  padding: 20px 20px;
  background: #0800a7;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding-left: 20px;
  text-align: center;
}

.description {
    padding: 20px;
    font-weight: bolder;
    color: #0800a7;
}

html {
    scroll-behavior: smooth;
}
.typing-effect{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 450%;
}

.location {
    border-radius: 10px;
    color: #0800a7;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    align-items: center;
    border-color: #0800a7,20px;
}