html, body {
  margin: 0;
    background:linear-gradient(135deg ,#ff9bb2, #f4c6d4);
  font-family: Arial, sans-serif;
}

.hero {
  display: flex;               
  justify-content: center;    
  align-items: center;         
  background:radial-gradient(#ff6f91,#f91c50 70%);
  width: 100%;                
  height: 72vh;                
  color: white;                
  text-align: center;          
  flex-direction: column;   
  font-family: Poppins;
  font-weight: bolder;

}

.images {
  display: flex;              
  gap: 20px;                 
  flex-wrap: wrap;           
  justify-content: center;   
  margin-top: 250px;
  padding-bottom: 250px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.images img {
  width: 200px;              
  height: 200px;         
  object-fit: cover;         
  border-radius: 15px;   
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;   
}

.images img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
 .nails {
  justify-content: center;
  text-align: center;
  color: #f91c50;
  margin-top: 200px;
  font-family: Dancing Script;
  font-size: 4rem;
  font-weight: bolder;
 }


.hero-title,
.hero-desc {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease forwards;
}

.hero-desc {
  animation-delay: 0.6s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background:#ff6f91;
}

::-webkit-scrollbar-thumb {
  background: #f91c50;
  border-radius: 12px;
}

.info-container {
  color: #f91c50;
  font-family: Arial, sans-serif;
  font-weight: bolder;
  padding: 20px;


  width: 90vw;
  min-height: 35vh;


  margin: auto;
  box-sizing: border-box;


  border: 2px solid currentColor;
  background: transparent;
  border-radius: 20px;
  margin-bottom: 60px;
}

.growing-container {
  color: #f91c50;
  font-family: Arial, sans-serif;
  font-weight: bolder;
  padding: 20px;


  width: 90vw;
  min-height: 35vh;


  margin: auto;
  box-sizing: border-box;


  border: 2px solid currentColor;
  background: transparent;
  border-radius: 20px;
  margin-bottom: 20px;

}

.hero svg {
  position: absolute;
  left: 0;
  bottom: 100px; 
  width: 100%;
  z-index: 2;
}

.curve path {
  fill:#f91c50;
}

.foods {
  display: inline-block;
  margin-top: 20px;
}